<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CarsSystem</display-name>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>carsSystem.controller.AuthenticationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>RoleFilter</filter-name>
    <filter-class>carsSystem.controller.RoleFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BrandFilter</filter-name>
    <filter-class>carsSystem.controller.BrandFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BrandFilter</filter-name>
    <url-pattern>/brandModels</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>carsSystem.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>carsSystem.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>carsSystem.controller.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>carsSystem.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>carsSystem.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadUserServlet</servlet-name>
    <servlet-class>carsSystem.controller.LoadUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>carsSystem.controller.InsertUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainFormServlet</servlet-name>
    <servlet-class>carsSystem.controller.MainFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarInfoServlet</servlet-name>
    <servlet-class>carsSystem.controller.CarInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrandModelsServlet</servlet-name>
    <servlet-class>carsSystem.controller.BrandModelsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertModelServlet</servlet-name>
    <servlet-class>carsSystem.controller.InsertModelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModelsServlet</servlet-name>
    <servlet-class>carsSystem.controller.ModelsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteModelServlet</servlet-name>
    <servlet-class>carsSystem.controller.DeleteModelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadModelServlet</servlet-name>
    <servlet-class>carsSystem.controller.LoadModelServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>UpdateModelServlet</servlet-name>
    <servlet-class>carsSystem.controller.UpdateModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadUserServlet</servlet-name>
    <url-pattern>/loadUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/insertUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainFormServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarInfoServlet</servlet-name>
    <url-pattern>/carInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrandModelsServlet</servlet-name>
    <url-pattern>/brandModels</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertModelServlet</servlet-name>
    <url-pattern>/insertModel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModelsServlet</servlet-name>
    <url-pattern>/models</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteModelServlet</servlet-name>
    <url-pattern>/deleteModel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadModelServlet</servlet-name>
    <url-pattern>/loadModel</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UpdateModelServlet</servlet-name>
    <url-pattern>/updateModel</url-pattern>
  </servlet-mapping>
</web-app>